@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Fredoka+One&family=Gothic+A1:wght@200;300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800&display=swap");
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%); }
  80% {
    transform: translateX(1.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  /* outline: 3px solid red; */
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.contenedor {
  width: 90%;
  max-width: 1200px;
  overflow: hidden;
  margin: 0 auto; }

/* ===home: MediaQuery del menu=== */
@media (max-width: 969px) {
  .nav__label {
    display: block;
    cursor: pointer; }
  .nav__menu {
    position: fixed;
    top: 80px;
    bottom: 0;
    background: #001514;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    clip-path: circle(0 at center);
    transition: clip-path 1s ease-in-out; }
  .nav__input:checked + .nav__menu {
    clip-path: circle(100% at center); }
  .nav__link--media::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    padding: 2px;
    background: var(--color-blanco); } }

/* ===home: MediaQuery del hero=== */
@media screen and (max-width: 500px) {
  .hero__main {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center; }
  .hero__titulo {
    text-align: center;
    font-size: 2rem;
    color: var(--color-primario);
    font-size: 3rem;
    padding-bottom: 30px; }
  .hero__buscar {
    display: none; }
  .hero__search {
    border: 1px solid black; }
  .hero__picture {
    width: 85%; }
  .hero__img {
    max-width: 100%; } }

/* ===home: MediaQuery seccion about=== */
@media screen and (max-width: 500px) {
  .about__secciones {
    justify-content: center; }
  .about__titulo {
    font-size: 2rem; }
  .about__secciones {
    width: 45rem;
    height: 83.7rem; }
  .about__seller--separador {
    margin-bottom: 3rem; } }

/* ===home: MediaQuery seccion portafolio=== */
@media screen and (max-width: 500px) {
  .contenedor {
    width: 95%;
    max-width: 39rem;
    overflow: hidden;
    margin: 0 auto; }
  .portafolio {
    padding-top: 5rem;
    padding-bottom: 1rem; }
  .portafolio__paragrafo {
    font-size: 1.2rem; }
  .portafolio__grid {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas: "nota nota" "nota nota" "nota nota" "member1 member2" "member3 member4" "member5 member6" "member7 member8" "member9 .";
    gap: 1rem;
    place-items: center; }
  .portafolio__informacion {
    height: 53rem;
    gap: 2rem;
    width: 90%;
    margin: 0 auto; }
  .nota {
    grid-area: nota; }
  .member1 {
    grid-area: member1; }
  .member2 {
    grid-area: member2; }
  .member3 {
    grid-area: member3; }
  .member4 {
    grid-area: member4; }
  .member5 {
    grid-area: member5; }
  .member6 {
    grid-area: member6; }
  .member7 {
    grid-area: member7; }
  .member8 {
    grid-area: member8; }
  .member9 {
    grid-area: member9; } }

/* ===home: MediaQuery seccion layout=== */
@media screen and (max-width: 500px) {
  .layouts__control {
    display: flex;
    flex-direction: column;
    align-items: center; }
  figure.layouts__picture {
    width: 60vh;
    text-align: center; }
  .layouts__title {
    font-size: 2rem; }
  .layouts__img3 {
    margin: 5rem;
    margin-bottom: 2rem;
    width: 70%;
    background-size: cover;
    box-shadow: var(--box-shadow-principal); }
  .layouts__referido {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .layouts__cta {
    margin-bottom: 1rem; } }

/* ===home: MediaQuery seccion opinion=== */
@media screen and (max-width: 500px) {
  .opinion {
    padding: 3rem 0;
    background: #fefdff; }
  .opinion__mensaje {
    width: 90%; } }

body {
  font-family: "Dancing Script", cursive;
  font-family: "Fredoka One", cursive;
  font-family: "Gothic A1", sans-serif;
  font-family: "Poppins", sans-serif;
  background: var(--color-blanco);
  font-weight: 400;
  line-height: 1.7;
  color: #000; }

/* ===home: seccion about === */
.about__titulo {
  font-size: 5rem;
  text-align: left;
  color: var(--color-terciario);
  margin-bottom: 2rem; }

.about__subtitulo {
  font-family: "Fredoka One", cursive;
  font-size: 1.8rem;
  padding-bottom: 0.8rem;
  color: var(--color-terciario); }

.about__text {
  margin-bottom: 2rem;
  color: var(--color-terciario);
  text-align: justify;
  font-size: 1.3rem; }

.about__img1 {
  display: block;
  width: 20rem;
  height: 20rem;
  background-size: cover;
  border-radius: 50%;
  box-shadow: var(--box-shadow-principal); }

/* ===home: seccion gallery=== */
.gallery__title {
  text-align: center;
  font-size: 4.5rem;
  margin-bottom: 7px; }

.gallery__comentario {
  font-family: "Dancing Script", cursive;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.2rem;
  word-spacing: 0.2rem;
  font-size: 2.5rem;
  margin-bottom: 1rem; }

/* ===home: seccion portafolio=== */
.portafolio__title {
  padding: 1rem;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  font-size: 2rem; }

.portafolio__paragrafo {
  font-family: "Gothic A1", sans-serif;
  font-weight: 300;
  padding: 1rem;
  text-align: justify;
  font-size: 1.6rem; }

.portafolio__name {
  font-family: "Dancing Script", cursive;
  text-align: center;
  font-size: 1.6rem; }

/* ===home: seccion layout=== */
.layouts__title {
  font-size: 4.4rem; }

.layouts__paragrafo {
  font-size: 2rem;
  margin-bottom: 1.5rem; }

/* ===home: seccion opinion=== */
.opinion__title {
  font-size: 4rem;
  margin-bottom: 1rem;
  text-align: center; }

.opinion__caption {
  font-size: 1.6rem;
  text-align: center; }

.opinion__mensaje {
  padding: 3rem;
  width: 100%;
  margin: 0 auto;
  background: #fff;
  border: 0.1rem solid black;
  border-radius: 1rem; }

.opinion__paragrafo {
  padding-top: 1rem;
  font-size: 1.1rem; }

/* ===home: seccion noticias=== */
.noticias__titulo {
  font-size: 3.5rem;
  margin-bottom: 3rem;
  text-align: center; }

.noticias__subtitulo {
  padding-bottom: 1.5rem;
  font-family: "Gothic A1", sans-serif;
  font-weight: 700;
  color: #3381fe;
  font-size: 1.8rem; }
  .noticias__subtitulo::after {
    content: " ";
    display: block;
    width: 100%;
    height: 0.1rem;
    background: #000000; }

.noticias__paragraf {
  text-align: left;
  font-size: 1.4rem;
  font-family: "Gothic A1", sans-serif; }

.noticias__tituloNoticia {
  color: #3381fe;
  font-family: "Gothic A1", sans-serif;
  font-size: 1.6rem; }
  .noticias__tituloNoticia::after {
    content: " ";
    display: block;
    width: 100%;
    height: 0.1rem;
    background: #000000; }

.footer {
  background: #283048;
  background: -webkit-linear-gradient(to bottom, #fefdff, #283048);
  background: linear-gradient(to bottom, #fefdff, #283048);
  color: #fff;
  text-align: center; }
  .footer .title {
    padding-bottom: 2rem;
    font-size: 2rem; }
  .footer__container {
    --color-primary: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .footer__texts {
    width: 50%;
    font-size: 1.5rem; }
  .footer__icon {
    display: inline-block;
    font-size: 2rem;
    margin: 0 3rem;
    text-decoration: none;
    color: #fff;
    margin-bottom: 3rem;
    width: 6rem;
    height: 6rem;
    border: 0.1rem solid;
    border-radius: 50%; }
    .footer__icon:hover {
      background: #fff;
      color: #3dfaff;
      cursor: pointer; }
  .footer__icon.fab {
    line-height: 6rem; }
  .footer__link {
    display: inline-block;
    color: #fff;
    margin: 0 2rem;
    margin-bottom: 3rem; }
    .footer__link:hover {
      text-decoration: none; }
  .footer__img {
    margin: 0;
    width: 35%; }
  .footer__picture {
    margin-top: 3rem;
    width: 90%; }

/* Corresponde a la imagen de fondo de inicio del header */
.hero {
  height: 95vh;
  background-image: linear-gradient(to right, rgba(97, 144, 232, 0.267), rgba(167, 191, 232, 0.253)), url("../img/fondoHero3.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .hero__main {
    height: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse; }
  .hero__textos {
    flex: 1;
    grid-column: 1/3;
    backface-visibility: hidden; }
  .hero__picture {
    width: 45%;
    text-align: center;
    margin: 0; }
  .hero__img {
    max-width: 80%;
    animation: moveInRight 1s ease-out 0.8s;
    animation-fill-mode: backwards; }
  .hero__titulo {
    text-align: center;
    font-size: 6rem;
    color: #fefae0;
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out; }
  .hero__paragrafo {
    font-size: 1.7rem;
    font-weight: 700;
    color: #070707;
    text-align: center;
    animation: moveInRight 2s ease-out;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.3rem; }
  .hero__form {
    display: flex;
    justify-content: center;
    align-items: baseline;
    animation: moveInBottom 0.5s ease-out 0.9s;
    animation-fill-mode: backwards; }
  .hero__search {
    margin-top: 1.5rem;
    margin-right: 0.5rem;
    padding: 0.5rem;
    border-radius: 5rem;
    outline: none;
    border: 0.1rem solid var(--color-blanco); }
  .hero__buscar {
    font-weight: 700;
    font-size: 1.5rem;
    padding: 1rem;
    color: var(--color-blanco); }
  .hero__boton {
    color: #283048;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5rem 1rem;
    background: var(--color-primario);
    border: none;
    border-radius: 3rem;
    cursor: pointer;
    border: 0.2rem solid #171d1c;
    transition: all 0.2s; }
    .hero__boton:hover {
      color: var(--color-blanco);
      background: #3dfaff;
      border: 0.2rem solid #3dfaff;
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.nav {
  height: 7rem;
  color: var(--color-blanco); }
  .nav__logo {
    display: flex;
    align-items: center; }
  .nav__contenedor {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .nav__titulo {
    color: #2a324b;
    font-size: 2.5rem; }
  .nav__link {
    color: #070707;
    text-decoration: none;
    margin-left: 1em;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    font-size: 1.5rem; }
    .nav__link--media {
      color: #2a324b;
      font-weight: 700; }
    .nav__link:hover {
      transform: translateY(-0.3rem); }
    .nav__link:active {
      transform: translateY(-0.1rem); }
  .nav__link--boton:visited, .nav__link--boton:link {
    text-transform: uppercase;
    font-weight: 700;
    padding: 0.4rem 0.7rem;
    background: var(--color-primario);
    border: 0.2rem solid #171d1c;
    border-radius: 10rem;
    cursor: pointer;
    color: #283048;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s; }
    .nav__link--boton:visited:hover, .nav__link--boton:link:hover {
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .nav__link--boton:visited:active, .nav__link--boton:link:active {
      transform: translateY(-0.1rem);
      box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2); }
  .nav__pintura {
    width: 4rem;
    margin-right: 0.7rem; }
  .nav__label, .nav__input {
    display: none; }

/* ========seccion about======== */
.about {
  background: #fefdff;
  padding: 7rem 0; }
  .about__secciones {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    align-content: flex-start; }
  .about__seller {
    width: 90%;
    height: 40rem;
    max-width: 55rem; }
  .about__img1 {
    display: block;
    width: 20rem;
    height: 20rem;
    background-size: cover;
    border-radius: 50%;
    box-shadow: var(--box-shadow-principal); }
  .about__picture {
    margin-bottom: 3rem; }
  .about__cta {
    text-decoration: none;
    color: #283048;
    font-size: 1.3rem;
    font-weight: 700;
    padding: 0.3rem 1.2rem;
    background: #72ddf7;
    border: none;
    border-radius: 3rem;
    cursor: pointer;
    border: 0.2rem solid #72ddf7; }
    .about__cta:hover {
      color: var(--color-blanco);
      background: #3dfaff;
      border: 0.2rem solid #3dfaff; }

/* ========seccion gallery======== */
.gallery {
  padding: 3rem 0;
  background: #fefdff;
  background: -webkit-linear-gradient(to right, #000c40, #fefdff);
  background: linear-gradient(to right, #000c40, #fefdff); }
  .gallery__control {
    margin-top: 7rem;
    margin-bottom: 5rem; }
  .gallery__game {
    display: flex;
    flex-direction: column-reverse;
    align-items: center; }
  .gallery__contenedor {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .gallery__picture {
    width: 30%;
    height: 45rem;
    margin-bottom: 2rem;
    display: block;
    border-radius: 0.5rem;
    object-fit: cover;
    box-shadow: var(--box-shadow-principal); }
  .gallery__redes {
    display: flex;
    justify-content: space-between; }
  .gallery__icon {
    width: 10%;
    height: 10rem; }

/* ========seccion portafolio======== */
.portafolio {
  background: #fefdff;
  padding: 8rem 0; }
  .portafolio__grid {
    height: 60rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
    place-items: center; }
  .portafolio__informacion {
    height: 57rem;
    padding: 1rem;
    grid-area: 1/1/4/4;
    gap: 2rem;
    width: 90%;
    margin: 0 auto;
    background: #fff;
    box-shadow: 6px 6px 13px -1px rgba(0, 0, 0, 0.7);
    border-radius: 1rem; }
  .portafolio__title {
    padding: 1rem;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    font-size: 2rem; }
  .portafolio__paragrafo {
    font-family: "Gothic A1", sans-serif;
    font-weight: 300;
    padding: 1rem;
    text-align: justify;
    font-size: 1.6rem; }
  .portafolio__picture {
    width: 18.3rem;
    height: 12.2rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.7rem; }

/* ========seccion layouts======== */
.layouts {
  background: #fefdff; }
  .layouts__control {
    display: inline-block;
    /* width: 100%; */
    display: flex;
    background: #ede574;
    background: -webkit-linear-gradient(to right, #e1f5c4, #ede574);
    background: linear-gradient(to right, #e1f5c4, #ede574);
    align-items: center; }
  .layouts__picture {
    width: 88vw; }
  .layouts__img3 {
    margin: 5rem;
    width: 85%;
    background-size: cover;
    box-shadow: 6px 6px 13px -1px rgba(0, 0, 0, 0.7); }
  .layouts__cta {
    text-decoration: none;
    color: var(--color-secundario);
    font-size: 1.6rem;
    font-weight: 700;
    padding: 0.3rem 1rem;
    background: #087ca7;
    border-radius: 3rem;
    cursor: pointer;
    border: 0.2rem solid #087ca7; }
    .layouts__cta:hover {
      color: var(--color-blanco);
      background: #3dfaff;
      border: 0.2rem solid #3dfaff; }

/* ========seccion opinion======== */
.opinion {
  padding: 7rem;
  background: #fefdff; }
  .opinion__contenedor {
    width: 100%;
    height: 100%;
    margin: 3rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
    gap: 3rem;
    justify-content: center; }
  .opinion__control {
    display: flex;
    align-items: center; }
  .opinion__encabezado {
    width: 100%;
    display: flex;
    justify-content: space-between; }
  .opinion__img {
    width: 5rem;
    height: 5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5rem;
    margin-right: 1.5rem; }

/* ========seccion noticias======== */
.noticias {
  padding-bottom: 8.6rem;
  background: #fefdff; }
  .noticias__grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "notiCero notiCero notiCero notiUno notiUno" "notiCero notiCero notiCero notiDos notiDos" "notiCero notiCero notiCero notiTres notiTres"; }
  .noticias__img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.7rem; }
  .noticias__imagenUno {
    background-image: url("../img/warzoneNoti.jpg");
    width: 50vw;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .noticias__imagenDos {
    background-image: url("../img/grandNoti.jpg");
    width: 50vw;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .noticias__imagenTres {
    background-image: url("../img/witcherNoti.jpg");
    width: 50vw;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .noticias__textos {
    padding: 1.5rem 0; }
  .noticias__informacion {
    display: flex; }
  .noticias__excrito {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }

.notiCero {
  grid-area: notiCero; }

.notiUno {
  grid-area: notiUno; }

.notiDos {
  grid-area: notiDos; }

.notiTres {
  grid-area: notiTres; }

:root {
  --color-primario: #fcff6c;
  --color-secundario: #f4f4ed;
  --color-terciario: #1b1b1e;
  --color-blanco: #ffffff;
  --box-shadow-principal: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0); }
