@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Fredoka+One&family=Gothic+A1:wght@200;300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800&display=swap");
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%); }
  80% {
    transform: translateX(1.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  /* outline: 3px solid red; */
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.contenedor {
  width: 90%;
  max-width: 1200px;
  /* overflow: hidden; */
  margin: 0 auto; }

body {
  font-family: "Dancing Script", cursive;
  font-family: "Fredoka One", cursive;
  font-family: "Gothic A1", sans-serif;
  font-family: "Poppins", sans-serif;
  background: #ffffff;
  font-weight: 400;
  color: #000; }

/* ------------------------------------------ */
/* -----tipografia de la pagina inicio------ */
/* ---------------------------------------- */
/* ===home: seccion about === */
.about__titulo {
  font-size: 5rem;
  text-align: left;
  color: #1b1b1e;
  margin-bottom: 2rem; }

.about__subtitulo {
  font-family: "Fredoka One", cursive;
  font-size: 1.8rem;
  padding-bottom: 0.8rem;
  color: #1b1b1e; }

.about__text {
  margin-bottom: 2rem;
  color: #1b1b1e;
  text-align: justify;
  font-size: 1.3rem; }

.about__img1 {
  display: block;
  width: 20rem;
  height: 20rem;
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0); }

/* ===home: seccion gallery=== */
.gallery__title {
  text-align: center;
  font-size: 4.5rem;
  margin-bottom: 7px; }

.gallery__comentario {
  font-family: "Dancing Script", cursive;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.2rem;
  word-spacing: 0.2rem;
  font-size: 2.5rem;
  margin-bottom: 1rem; }

/* ===home: seccion portafolio=== */
.portafolio__title {
  padding: 1rem;
  letter-spacing: 0.2rem;
  font-size: 2rem; }

.portafolio__paragrafo {
  font-family: "Gothic A1", sans-serif;
  font-weight: 300;
  padding: 1rem;
  text-align: justify;
  font-size: 1.6rem; }

.portafolio__name {
  font-family: "Dancing Script", cursive;
  text-align: center;
  font-size: 1.6rem; }

/* ===home: seccion layout=== */
.layouts__title {
  font-size: 4.4rem; }

.layouts__paragrafo {
  font-size: 2rem;
  margin-bottom: 1.5rem; }

/* ===home: seccion opinion=== */
.opinion__title {
  font-size: 4rem;
  margin-bottom: 1rem;
  text-align: center; }

.opinion__caption {
  font-size: 1.6rem;
  text-align: center; }

.opinion__mensaje {
  padding: 3rem;
  width: 100%;
  margin: 0 auto;
  background: #ffffff;
  border: 0.1rem solid #000000;
  border-radius: 1rem; }

.opinion__paragrafo {
  padding-top: 1rem;
  font-size: 1.1rem; }

/* ===page home: seccion noticias=== */
.noticias__titulo {
  font-size: 3.5rem;
  margin-bottom: 3rem;
  text-align: center; }

.noticias__subtitulo {
  padding-bottom: 1.5rem;
  font-family: "Gothic A1", sans-serif;
  font-weight: 700;
  color: #3381fe;
  font-size: 1.8rem; }
  .noticias__subtitulo::after {
    content: " ";
    display: block;
    width: 100%;
    height: 0.1rem;
    background: #000000; }

.noticias__paragraf {
  text-align: left;
  font-size: 1.4rem;
  font-family: "Gothic A1", sans-serif; }

.noticias__tituloNoticia {
  color: #3381fe;
  font-family: "Gothic A1", sans-serif;
  font-size: 1.6rem; }
  .noticias__tituloNoticia::after {
    content: " ";
    display: block;
    width: 100%;
    height: 0.1rem;
    background: #000000; }

/* ------------------------------------------ */
/* ----tipografia de la pagina producto----- */
/* ---------------------------------------- */
/* ===producto: seccion product=== */
.product__texts {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }

.product__ventas {
  display: flex;
  flex-direction: column;
  margin-left: 1rem; }

.fa-sack-dollar {
  font-size: 1.4rem;
  margin-right: 1rem; }

.precio {
  font-size: 2.3rem; }

.juego {
  font-size: 1.8rem; }

.moneda {
  font-size: 1.8rem; }

.text {
  font-size: 1rem; }

.hero__boton, .headline__boton, .heading__boton, .about__cta {
  text-decoration: none;
  color: #283048;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  background: #fcff6c;
  outline: none;
  border-radius: 3rem;
  cursor: pointer;
  border: 0.2rem solid #171d1c; }
  .hero__boton:hover, .headline__boton:hover, .heading__boton:hover, .about__cta:hover {
    color: #ffffff;
    background: #3dfaff;
    border: 0.2rem solid #3dfaff;
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.footer {
  background: #283048;
  background: -webkit-linear-gradient(to bottom, #fefdff, #283048);
  background: linear-gradient(to bottom, #fefdff, #283048);
  color: #ffffff;
  text-align: center; }
  .footer .title {
    padding-bottom: 2rem;
    font-size: 2rem; }
  .footer__container {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .footer__texts {
    width: 50%;
    font-size: 1.5rem; }
  .footer__icon {
    display: inline-block;
    font-size: 2rem;
    margin: 0 3rem;
    text-decoration: none;
    color: #ffffff;
    margin-bottom: 3rem;
    width: 6rem;
    height: 6rem;
    border: 0.1rem solid;
    border-radius: 50%; }
    .footer__icon:hover {
      background: #ffffff;
      color: #3dfaff;
      cursor: pointer; }
  .footer__icon.fab {
    line-height: 6rem; }
  .footer__link {
    display: inline-block;
    color: #ffffff;
    margin: 0 2rem;
    margin-bottom: 3rem; }
    .footer__link:hover {
      text-decoration: none; }
  .footer__img {
    margin: 0;
    width: 35%; }
  .footer__picture {
    margin-top: 3rem;
    width: 90%; }

@media screen and (max-width: 768px) {
  .title {
    margin-top: 2.7rem; } }

/* Corresponde a la imagen de fondo de inicio del header */
/* ------------------------------------------ */
/* ---------header pagina inicio---------- */
/* ---------------------------------------- */
.hero {
  height: 95vh;
  background-image: linear-gradient(to right, rgba(97, 144, 232, 0.267), rgba(167, 191, 232, 0.253)), url("../img/fondoHero3.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .hero__main {
    height: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse; }
  .hero__textos {
    flex: 1;
    grid-column: 1/3;
    backface-visibility: hidden; }
  .hero__picture {
    width: 45%;
    text-align: center;
    margin: 0; }
  .hero__img {
    max-width: 80%;
    animation: moveInRight 1s ease-out 0.8s;
    animation-fill-mode: backwards; }
  .hero__titulo {
    text-align: center;
    font-size: 6rem;
    color: #fefae0;
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out; }
  .hero__paragrafo {
    font-size: 1.7rem;
    font-weight: 700;
    color: #070707;
    text-align: center;
    animation: moveInRight 2s ease-out;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.3rem; }
  .hero__form {
    display: flex;
    justify-content: center;
    align-items: baseline;
    animation: moveInBottom 0.5s ease-out 0.9s;
    animation-fill-mode: backwards; }
  .hero__search {
    margin-top: 1.5rem;
    margin-right: 0.5rem;
    padding: 0.5rem;
    border-radius: 5rem;
    outline: none;
    border: 0.1rem solid #ffffff; }
  .hero__buscar {
    font-weight: 700;
    font-size: 1.5rem;
    padding: 1rem;
    color: #ffffff; }

/* ------------------------------------------ */
/* ---------header pagina producto---------- */
/* ---------------------------------------- */
.headline {
  height: 100vh;
  background-image: linear-gradient(to right, rgba(189, 195, 199, 0), rgba(44, 62, 80, 0.295)), url("../img/fondoServi4.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 0.1px;
  position: relative; }
  .headline__picture {
    width: 4rem;
    margin-right: 0.7rem; }
  .headline__wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; }
  .headline__titulo {
    /* margin-top: 1rem; */
    font-family: "Fredoka One", cursive;
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #fffc00, #fcfbd1);
    -webkit-background-clip: text;
    color: transparent; }
  .headline__paragrafo {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 0.1rem; }
  .headline__main {
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    align-items: center; }
  .headline__form {
    display: flex;
    justify-content: center;
    align-items: baseline;
    outline: none; }
  .headline__search {
    margin-top: 1.5rem;
    margin-right: 0.5rem;
    padding: 5px;
    border-radius: 50px;
    outline: none;
    border: 2px solid #ffffff; }
  .headline__boton {
    padding-top: 7px;
    padding-bottom: 7px; }

/* ------------------------------------------ */
/* ---------header pagina servicios--------- */
/* ---------------------------------------- */
.heading {
  height: 100vh;
  background-image: linear-gradient(to right, rgba(189, 195, 199, 0), rgba(44, 62, 80, 0.295)), url("../img/fondoServi5.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 0.1px;
  position: relative; }
  .heading__picture {
    width: 4rem;
    margin-right: 0.7rem; }
  .heading__wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; }
  .heading__titulo {
    /* margin-top: 1rem; */
    font-family: "Fredoka One", cursive;
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #fffc00, #fcfbd1);
    -webkit-background-clip: text;
    color: transparent; }
  .heading__paragrafo {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 0.1rem; }
  .heading__main {
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    align-items: center; }
  .heading__form {
    display: flex;
    justify-content: center;
    align-items: baseline;
    outline: none; }
  .heading__search {
    margin-top: 1.5rem;
    margin-right: 0.5rem;
    padding: 5px;
    border-radius: 50px;
    outline: none;
    border: 2px solid #ffffff; }
  .heading__boton {
    padding-top: 7px;
    padding-bottom: 7px; }

.nav {
  height: 7rem;
  color: #ffffff; }
  .nav__logo {
    display: flex;
    align-items: center; }
  .nav__contenedor {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .nav__titulo {
    color: #000000;
    font-size: 2.5rem; }
  .nav .nav__titulo--producto {
    color: #ffffff; }
  .nav__link {
    text-decoration: none;
    margin-left: 1em;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    font-size: 1.5rem; }
    .nav__link--media {
      color: #000000;
      font-weight: 700; }
    .nav__link:hover {
      transform: translateY(-0.3rem); }
    .nav__link:active {
      transform: translateY(-0.1rem); }
  .nav .nav__link--color {
    color: #ffffff; }
  .nav__link--boton:visited, .nav__link--boton:link {
    text-transform: uppercase;
    font-weight: 700;
    padding: 0.4rem 0.7rem;
    background: #fcff6c;
    border: 0.2rem solid #000000;
    cursor: pointer;
    color: #000000;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s; }
    .nav__link--boton:visited:hover, .nav__link--boton:link:hover {
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .nav__link--boton:visited:active, .nav__link--boton:link:active {
      transform: translateY(-0.1rem);
      box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2); }
  .nav .nav__style--btn:visited,
  .nav .nav__style--btn:link {
    border: 0.2rem solid #ff5666;
    color: #ff5666;
    background-color: #ffffff; }
  .nav__pintura {
    width: 4rem;
    margin-right: 0.7rem; }
  .nav__label, .nav__input {
    display: none; }

@media (max-width: 962px) {
  .nav__label {
    display: block;
    cursor: pointer; }
  .nav__menu {
    position: fixed;
    top: 80px;
    bottom: 0;
    background: #161414;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    clip-path: circle(0 at center);
    transition: clip-path 1s ease-in-out; }
  .nav__input:checked + .nav__menu {
    clip-path: circle(100% at center); }
  .nav__link--media::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    padding: 2px;
    background: #ffffff; }
  .headline__wave {
    width: 100%; } }

/* ========seccion about======== */
.about {
  background: #fefdff;
  padding: 7rem 0;
  padding-bottom: 12px; }
  .about__secciones {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    align-content: flex-start; }
  .about__seller {
    width: 90%;
    height: 40rem;
    max-width: 55rem; }
  .about__img1 {
    display: block;
    width: 20rem;
    height: 20rem;
    background-size: cover;
    border-radius: 50%;
    -webkit-box-shadow: 5px 5px 15px -4px rgba(0, 0, 0, 0.59);
    box-shadow: 5px 5px 15px -4px rgba(0, 0, 0, 0.59); }
  .about__picture {
    margin-bottom: 3rem; }

/* ========seccion gallery======== */
.gallery {
  padding: 3rem 0;
  background: #fefdff;
  background: -webkit-linear-gradient(to right, #000c40, #fefdff);
  background: linear-gradient(to right, #000c40, #fefdff); }
  .gallery__control {
    margin-top: 7rem;
    margin-bottom: 5rem; }
  .gallery__game {
    display: flex;
    flex-direction: column-reverse;
    align-items: center; }
  .gallery__contenedor {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .gallery__picture {
    width: 30%;
    height: 45rem;
    margin-bottom: 2rem;
    display: block;
    border-radius: 0.5rem;
    object-fit: cover;
    -webkit-box-shadow: 5px 5px 15px -4px rgba(0, 0, 0, 0.59);
    box-shadow: 5px 5px 15px -4px rgba(0, 0, 0, 0.59); }
  .gallery__redes {
    display: flex;
    justify-content: space-between; }
  .gallery__icon {
    width: 10%;
    height: 10rem; }

/* ========seccion portafolio======== */
.portafolio {
  background: #fefdff;
  padding: 8rem 0; }
  .portafolio__grid {
    height: 60rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
    place-items: center; }
  .portafolio__informacion {
    height: 57rem;
    padding: 1rem;
    grid-area: 1/1/4/4;
    gap: 2rem;
    width: 90%;
    margin: 0 auto;
    background: #ffffff;
    box-shadow: 6px 6px 13px -1px rgba(0, 0, 0, 0.7);
    border-radius: 1rem; }
  .portafolio__title {
    padding: 1rem;
    letter-spacing: 0.2rem;
    font-size: 2rem; }
  .portafolio__paragrafo {
    font-family: "Gothic A1", sans-serif;
    font-weight: 300;
    padding: 1rem;
    text-align: justify;
    font-size: 1.6rem; }
  .portafolio__picture {
    width: 18.3rem;
    height: 12.2rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.7rem; }

/* ========seccion layouts======== */
.layouts {
  background: #fefdff; }
  .layouts__control {
    /* width: 100%; */
    display: flex;
    background: #ede574;
    background: -webkit-linear-gradient(to right, #e1f5c4, #ede574);
    background: linear-gradient(to right, #e1f5c4, #ede574);
    align-items: center; }
  .layouts__picture {
    width: 88vw; }
  .layouts__img3 {
    margin: 5rem;
    width: 85%;
    background-size: cover;
    box-shadow: 6px 6px 13px -1px rgba(0, 0, 0, 0.7); }
  .layouts__cta {
    text-decoration: none;
    color: #f4f4ed;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 0.3rem 1rem;
    background: #087ca7;
    border-radius: 3rem;
    cursor: pointer;
    border: 0.2rem solid #087ca7; }
    .layouts__cta:hover {
      color: #ffffff;
      background: #3dfaff;
      border: 0.2rem solid #3dfaff; }

/* ========seccion opinion======== */
.opinion {
  padding: 7rem;
  background: #fefdff; }
  .opinion__contenedor {
    width: 100%;
    height: 100%;
    margin: 3rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
    gap: 3rem;
    justify-content: center; }
  .opinion__control {
    display: flex;
    align-items: center; }
  .opinion__encabezado {
    width: 100%;
    display: flex;
    justify-content: space-between; }
  .opinion__img {
    width: 5rem;
    height: 5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5rem;
    margin-right: 1.5rem; }

/* ========seccion noticias======== */
.noticias {
  padding-bottom: 8.6rem;
  background: #fefdff; }
  .noticias__grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "notiCero notiCero notiCero notiUno notiUno" "notiCero notiCero notiCero notiDos notiDos" "notiCero notiCero notiCero notiTres notiTres"; }
  .noticias__img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.7rem; }
  .noticias__imagenUno {
    background-image: url("../img/warzoneNoti.jpg");
    width: 24vw;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .noticias__imagenDos {
    background-image: url("../img/grandNoti.jpg");
    width: 24vw;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .noticias__imagenTres {
    background-image: url("../img/witcherNoti.jpg");
    width: 24vw;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .noticias__textos {
    padding: 1.5rem 0; }
  .noticias__informacion {
    display: flex; }
  .noticias__excrito {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }

.notiCero {
  grid-area: notiCero; }

.notiUno {
  grid-area: notiUno; }

.notiDos {
  grid-area: notiDos; }

.notiTres {
  grid-area: notiTres; }

.product__grid {
  padding: 2px 5px;
  width: 100%;
  height: 2000px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "card1 card2 card3" "card4 card5 card6" "card7 card8 card9"; }

.product__card {
  -webkit-box-shadow: 5px 5px 15px -4px rgba(0, 0, 0, 0.59);
  box-shadow: 5px 5px 15px -4px rgba(0, 0, 0, 0.59); }

.product__img {
  width: 100%;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.fa-solid {
  color: #ffffff;
  cursor: pointer;
  padding: 1rem;
  background: #ff5666;
  border-radius: 50px;
  letter-spacing: 1px; }

.fa-solid:hover {
  background: #f8333c; }

.card1 {
  grid-area: card1;
  height: 600px; }

.card2 {
  grid-area: card2;
  height: 600px; }

.card3 {
  grid-area: card3;
  height: 600px; }

.card4 {
  grid-area: card4;
  height: 600px; }

.card5 {
  grid-area: card5;
  height: 600px; }

.card6 {
  grid-area: card6;
  height: 600px; }

.card7 {
  grid-area: card7;
  height: 600px; }

.card8 {
  grid-area: card8;
  height: 600px; }

.card9 {
  grid-area: card9;
  height: 600px; }

.services {
  margin-bottom: 48px;
  padding-top: 13px; }
  .services__grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "servione servione servitwo servitwo servinoti" "servithree servithree servifour servifour servinoti";
    justify-items: center;
    align-items: center; }
  .services__control {
    -webkit-box-shadow: 5px 5px 15px -4px rgba(0, 0, 0, 0.59);
    box-shadow: 5px 5px 15px -4px rgba(0, 0, 0, 0.59);
    display: flex;
    border-radius: 1rem; }
  .services__contenido {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end; }
  .services__texts {
    display: flex;
    flex-direction: column; }
  .services__encabezado {
    padding: 1rem 0; }
  .services__pie {
    padding: 2rem; }
  .services__img {
    padding: 1.5rem;
    width: 23rem;
    height: 29rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2rem;
    padding-top: 15px;
    padding-bottom: 0px; }
  .services__title {
    color: #0c0708;
    text-align: center;
    font-size: 2.2rem;
    font-family: "Poppins", sans-serif;
    padding: 1rem;
    padding-top: 0px; }
  .services__subtitle {
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    color: #320d6d; }
  .services__paragrafo {
    font-size: 1.5rem;
    font-family: "Gothic A1", sans-serif;
    text-align: justify;
    padding-right: 16px; }
  .services__price {
    font-size: 3rem;
    letter-spacing: 2px;
    text-align: end;
    font-family: "Fredoka One", cursive; }
  .services__minparagrafo {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: end;
    font-family: "Fredoka One", cursive; }

.btn-buy {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 700;
  padding: 0.5rem 7rem;
  background: #320d6d;
  border: 1px solid #000000;
  outline: none;
  border-radius: 3rem;
  cursor: pointer;
  /* box-shadow: 6px 5px 14px -1px rgba(0, 0, 0, 0.7); */
  transition: all 0.2s; }
  .btn-buy:hover {
    background: #a9fdac;
    box-shadow: none; }

.servione {
  grid-area: servione; }

.servitwo {
  grid-area: servitwo; }

.servithree {
  grid-area: servithree; }

.servifour {
  grid-area: servifour; }

.servinoti {
  grid-area: servinoti;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, -1px 4px 16px 2px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, -1px 4px 16px 2px rgba(0, 0, 0, 0); }
  .servinoti__ul {
    list-style-type: none; }
  .servinoti__li {
    margin-bottom: 1.5rem; }
  .servinoti__noticia {
    padding: 15px 20px 20px; }
  .servinoti__lista {
    padding-left: 95px;
    position: relative;
    min-height: 80px;
    padding-top: 5px; }
  .servinoti__img {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 8rem;
    height: 8rem;
    border-radius: 0.5rem; }
  .servinoti__span {
    line-height: 2rem;
    background-color: #e0ff4f;
    position: absolute;
    left: -2px;
    bottom: -2px;
    border-radius: 0 10px 0 0;
    font-size: 1rem;
    color: #000;
    font-weight: 700;
    padding: 0 8px; }
  .servinoti__top {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 3rem;
    letter-spacing: -1px; }
  .servinoti__title {
    font-size: 1.2rem;
    font-family: "Gothic A1", sans-serif;
    font-weight: 700;
    max-height: 4.5rem;
    overflow: hidden;
    margin-bottom: 1rem; }
  .servinoti__btn {
    background-color: rgba(1, 188, 242, 0.1);
    color: #01bcf2;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 2rem;
    display: inline-block;
    vertical-align: top;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 0 1rem;
    line-height: 2rem;
    text-decoration: none;
    transition: all 0.2s linear; }
    .servinoti__btn:hover {
      color: #ffffff;
      background-color: rgba(1, 242, 242, 0.918); }

/* ========seccion clientes======== */
.nuestros {
  margin-bottom: 48px;
  padding-top: 13px; }
  .nuestros__grid {
    height: 80vh;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "seccion1 seccion1 seccion2 seccion2" "seccion1 seccion1 seccion3 seccion3"; }
  .nuestros__title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem; }
  .nuestros__img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 0.5rem;
    object-fit: cover; }
  .nuestros__imagen {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover; }
  .nuestros__subtitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 0.1rem;
    font-weight: 700;
    font-size: 2.9rem;
    text-align: center;
    color: #fbf5f3; }
  .nuestros__texts {
    padding-left: 1rem; }
  .nuestros__mintitle {
    font-size: 2.2rem; }
  .nuestros__paragrafo {
    font-size: 1.5rem;
    text-align: justify;
    padding-right: 1rem; }

.seccion1 {
  grid-area: seccion1;
  position: relative;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, -1px 4px 16px 2px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, -1px 4px 16px 2px rgba(0, 0, 0, 0); }

.seccion2 {
  grid-area: seccion2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas: "seccion2-grid1 seccion2-grid2";
  border: 2px solid #9a4c95; }
  .seccion2 .seccion2-grid1 {
    grid-area: seccion2-grid1; }
  .seccion2 .seccion2-grid2 {
    grid-area: seccion2-grid2; }

.seccion3 {
  grid-area: seccion3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas: "seccion3-grid1 seccion3-grid2";
  border: 2px solid #9a4c95; }
  .seccion3 .seccion3-grid1 {
    grid-area: seccion3-grid1; }
  .seccion3 .seccion3-grid2 {
    grid-area: seccion3-grid2; }

/* ------------------------------------------ */
/* -------query de la pagina inicio--------- */
/* ---------------------------------------- */
/* ===home: MediaQuery del hero=== */
@media screen and (max-width: 963px) {
  .hero {
    height: 100vh;
    clip-path: polygon(0 0, 100% 0, 100% 100vh, 0 100%); }
    .hero__titulo {
      font-size: 5rem; } }

/* ===home: MediaQuery seccion about=== */
@media screen and (max-width: 500px) {
  .about__secciones {
    justify-content: center; }
  .about__titulo {
    font-size: 2rem; }
  .about__secciones {
    width: 45rem;
    height: 83.7rem; }
  .about__seller--separador {
    margin-bottom: 3rem; } }

/* ===home: MediaQuery seccion portafolio=== */
@media screen and (max-width: 1024px) {
  .contenedor {
    width: 95%;
    max-width: 98rem;
    overflow: hidden;
    margin: 0 auto; }
  .portafolio__paragrafo {
    font-size: 1.3rem; } }

@media screen and (max-width: 963px) {
  .contenedor {
    width: 95%;
    max-width: 80rem;
    overflow: hidden;
    margin: 0 auto; }
  .portafolio {
    padding-top: 5rem;
    padding-bottom: 1rem; }
  .portafolio__paragrafo {
    font-size: 1.5rem; }
  .portafolio__grid {
    margin-top: 15px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "nota nota nota" "nota nota nota" "member1 member2 member3" "member4 member5 member6" "member7 member8 member9";
    gap: 1rem;
    place-items: center; }
  .portafolio__informacion {
    height: 50rem;
    gap: 2rem;
    width: 84%;
    margin: 0 auto; }
  .portafolio__picture {
    width: 21rem;
    height: 18rem; }
  .nota {
    grid-area: nota; }
  .member1 {
    grid-area: member1; }
  .member2 {
    grid-area: member2; }
  .member3 {
    grid-area: member3; }
  .member4 {
    grid-area: member4; }
  .member5 {
    grid-area: member5; }
  .member6 {
    grid-area: member6; }
  .member7 {
    grid-area: member7; }
  .member8 {
    grid-area: member8; }
  .member9 {
    grid-area: member9; } }

/* ===home: MediaQuery seccion layout=== */
@media screen and (max-width: 768px) {
  .layouts__title {
    font-size: 2rem; }
  .layouts__img3 {
    margin: 3rem; }
  .layouts__paragrafo {
    font-size: 1.5rem;
    margin-bottom: 1.5rem; } }

@media screen and (max-width: 500px) {
  .layouts__control {
    display: flex;
    flex-direction: column;
    align-items: center; }
  figure.layouts__picture {
    width: 60vh;
    text-align: center; }
  .layouts__title {
    font-size: 2rem; }
  .layouts__img3 {
    margin: 5rem;
    margin-bottom: 2rem;
    width: 70%;
    background-size: cover;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0); }
  .layouts__referido {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .layouts__cta {
    margin-bottom: 1rem; } }

/* ===home: MediaQuery seccion opinion=== */
@media screen and (max-width: 768px) {
  .opinion {
    padding: 3rem;
    background: #fefdff; } }

@media screen and (max-width: 500px) {
  .opinion {
    padding: 3rem 0;
    background: #f4f4ed; }
  .opinion__mensaje {
    width: 90%; } }

/* ===home: MediaQuery seccion noticias=== */
@media screen and (max-width: 768px) {
  .noticias {
    padding-bottom: 3.6rem;
    background: #fefdff; }
  .noticias__grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "notiCero notiCero notiCero notiCero" "notiCero notiCero notiCero notiCero" "notiCero notiCero notiCero notiCero" "notiUno notiUno notiDos notiDos" "notiTres notiTres . ."; }
  .noticias__imagenUno {
    background-image: url("../img/warzoneNoti.jpg");
    width: 100vw;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .noticias__imagenDos {
    background-image: url("../img/grandNoti.jpg");
    width: 100vw;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .noticias__imagenTres {
    background-image: url("../img/witcherNoti.jpg");
    width: 100vw;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; } }

/* ------------------------------------------ */
/* -------query de la pagina producto------- */
/* ---------------------------------------- */
/* ===producto: MediaQuery seccion encabezado=== */
@media screen and (max-width: 500px) {
  .headline__main {
    height: 80vh;
    display: flex;
    align-items: center; }
  .headline__titulo {
    text-align: center;
    font-size: 3rem;
    padding-bottom: 30px;
    padding: 0; }
  .headline__buscar {
    display: none; } }

/* ===producto: MediaQuery seccion producto tipografia=== */
@media screen and (max-width: 818px) {
  .precio {
    font-size: 1.5rem; }
  .juego {
    font-size: 1rem; }
  .moneda {
    font-size: 1.5rem; }
  .text {
    font-size: 0.8rem; } }

/* ===producto: MediaQuery seccion producto grid=== */
@media screen and (max-width: 500px) {
  .product__grid {
    width: 85%;
    height: 100%;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas: "card1" "card2" "card3" "card4" "card5" "card6" "card7" "card8" "card9"; } }
