$color-primario: #fcff6c;
$color-secundario: #f4f4ed;
$color-terciario: #1b1b1e;
$color-negro: #000000;
$color-blanco: #ffffff;
$box-shadow-principal: 0px 10px 13px -7px #000000,
  5px 5px 15px 5px rgba(0, 0, 0, 0);
$color-menu-responsive: #161414;
$color-noticias-text: #3381fe;
$color-boton-hover: #3dfaff;
$color-principal-footer: #283048;
$color-titulo-inicio: #fefae0;
$color-inicio-fondo: #fefdff;
