/* Corresponde a la imagen de fondo de inicio del header */

/* ------------------------------------------ */
/* ---------header pagina inicio---------- */
/* ---------------------------------------- */
.hero {
  height: 95vh;
  background-image: linear-gradient(
      to right,
      rgba(97, 144, 232, 0.267),
      rgba(167, 191, 232, 0.253)
    ),
    url("../img/fondoHero3.jpg");
  background-size: cover;
  background-position: top;
  position: relative;

  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  &__main {
    height: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
  }

  &__textos {
    flex: 1;
    grid-column: 1/3;

    backface-visibility: hidden;
  }

  &__picture {
    width: 45%;
    text-align: center;
    margin: 0;
  }

  &__img {
    max-width: 80%;
    animation: moveInRight 1s ease-out 0.8s;
    animation-fill-mode: backwards;
  }

  &__titulo {
    text-align: center;
    font-size: 6rem;
    color: $color-titulo-inicio;

    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out;
  }

  &__paragrafo {
    font-size: 1.7rem;
    font-weight: 700;
    color: #070707;
    text-align: center;
    animation: moveInRight 2s ease-out;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.3rem;
  }

  &__form {
    display: flex;
    justify-content: center;
    align-items: baseline;
    animation: moveInBottom 0.5s ease-out 0.9s;
    animation-fill-mode: backwards;
  }

  &__search {
    margin-top: 1.5rem;
    margin-right: 0.5rem;
    padding: 0.5rem;
    border-radius: 5rem;
    outline: none;
    border: 0.1rem solid $color-blanco;
  }

  &__buscar {
    font-weight: 700;
    font-size: 1.5rem;
    padding: 1rem;
    color: $color-blanco;
  }

  &__boton {
    @extend %btn-placeholder;
  }
}

@media screen and (max-width: 962px) {
  .hero__main {
    padding-top: 69px;
  }
}

@media screen and (max-width: 636px) {
  .hero {
    .hero__titulo {
      font-size: 4rem;
    }

    .hero__main {
      justify-content: center;
    }

    .hero__img {
      max-width: 100%;
    }
  }
}

/* ------------------------------------------ */
/* ---------header pagina producto---------- */
/* ---------------------------------------- */

.headline {
  height: 100vh;
  background-image: linear-gradient(
      to right,
      rgba(189, 195, 199, 0),
      rgba(44, 62, 80, 0.295)
    ),
    url("../img/fondoServi4.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 0.1px;
  position: relative;

  &__picture {
    width: 4rem;
    margin-right: 0.7rem;
  }

  &__wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  &__titulo {
    /* margin-top: 1rem; */
    font-family: "Fredoka One", cursive;
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #fffc00, #fcfbd1);
    -webkit-background-clip: text;
    color: transparent;
  }

  &__paragrafo {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
    color: $color-blanco;
    letter-spacing: 0.1rem;
  }

  &__main {
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    align-items: center;
  }

  &__form {
    display: flex;
    justify-content: center;
    align-items: baseline;
    outline: none;
  }

  &__search {
    margin-top: 1.5rem;
    margin-right: 0.5rem;
    padding: 5px;
    border-radius: 50px;
    outline: none;
    border: 2px solid $color-blanco;
  }

  &__boton {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  &__boton {
    @extend %btn-placeholder;
  }
}

/* ------------------------------------------ */
/* ---------header pagina servicios--------- */
/* ---------------------------------------- */

.heading {
  height: 100vh;
  background-image: linear-gradient(
      to right,
      rgba(189, 195, 199, 0),
      rgba(44, 62, 80, 0.295)
    ),
    url("../img/fondoServi5.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 0.1px;
  position: relative;

  &__picture {
    width: 4rem;
    margin-right: 0.7rem;
  }

  &__wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  &__titulo {
    /* margin-top: 1rem; */
    font-family: "Fredoka One", cursive;
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #fffc00, #fcfbd1);
    -webkit-background-clip: text;
    color: transparent;
  }

  &__paragrafo {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
    color: $color-blanco;
    letter-spacing: 0.1rem;
  }

  &__main {
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    align-items: center;
  }

  &__form {
    display: flex;
    justify-content: center;
    align-items: baseline;
    outline: none;
  }

  &__search {
    margin-top: 1.5rem;
    margin-right: 0.5rem;
    padding: 5px;
    border-radius: 50px;
    outline: none;
    border: 2px solid $color-blanco;
  }

  &__boton {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  &__boton {
    @extend %btn-placeholder;
  }
}
