.nav {
  height: 7rem;
  color: $color-blanco;

  &__logo {
    display: flex;
    align-items: center;
  }

  &__contenedor {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__titulo {
    @include style-link-text($color-negro);
    font-size: 2.5rem;
  }

  .nav__titulo--producto {
    @include style-link-text($color-blanco);
  }

  &__link {
    text-decoration: none;
    margin-left: 1em;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    font-size: 1.5rem;

    &--media {
      color: $color-negro;
      font-weight: 700;
    }

    &:hover {
      transform: translateY(-0.3rem);
    }

    &:active {
      transform: translateY(-0.1rem);
    }
  }

  .nav__link--color {
    @include style-link-text($color-blanco);
  }

  &__link--boton:visited,
  &__link--boton:link {
    text-transform: uppercase;
    font-weight: 700;
    padding: 0.4rem 0.7rem;
    background: $color-primario;
    border: 0.2rem solid $color-negro;
    cursor: pointer;
    color: $color-negro;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;

    &:hover {
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    }

    &:active {
      transform: translateY(-0.1rem);
      box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
    }
  }

  .nav__style--btn:visited,
  .nav__style--btn:link {
    @include style-link-btn($color-prueba);
  }

  &__pintura {
    width: 4rem;
    margin-right: 0.7rem;
  }

  &__label,
  &__input {
    display: none;
  }
}

@media (max-width: 962px) {
  .nav__label {
    display: block;
    cursor: pointer;
  }

  .nav__menu {
    position: fixed;
    top: 80px;
    bottom: 0;
    background: $color-menu-responsive;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    clip-path: circle(0 at center);
    transition: clip-path 1s ease-in-out;
  }

  .nav__input:checked + .nav__menu {
    clip-path: circle(100% at center);
  }

  .nav__link--media::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    padding: 2px;
    background: $color-blanco;
  }

  .headline__wave {
    width: 100%;
  }
}
