body {
  font-family: "Dancing Script", cursive;
  font-family: "Fredoka One", cursive;
  font-family: "Gothic A1", sans-serif;
  font-family: "Poppins", sans-serif;
  background: $color-blanco;
  font-weight: 400;
  color: #000;
}

/* ------------------------------------------ */
/* -----tipografia de la pagina inicio------ */
/* ---------------------------------------- */

/* ===home: seccion about === */
.about {
  &__titulo {
    font-size: 5rem;
    text-align: left;
    color: $color-terciario;
    margin-bottom: 2rem;
  }

  &__subtitulo {
    font-family: "Fredoka One", cursive;
    font-size: 1.8rem;
    padding-bottom: 0.8rem;
    color: $color-terciario;
    padding: 0 1rem;
    padding-bottom: 0.6rem;
  }

  &__text {
    margin-bottom: 2rem;
    color: $color-terciario;
    text-align: justify;
    font-size: 1.3rem;
    padding: 0 1rem;
  }

  &__img1 {
    display: block;
    width: 20rem;
    height: 20rem;
    background-size: cover;
    border-radius: 50%;
    box-shadow: $box-shadow-principal;
  }
}

/* ===home: seccion gallery=== */
.gallery {
  &__title {
    text-align: center;
    font-size: 4.5rem;
    margin-bottom: 7px;
  }

  &__comentario {
    font-family: "Dancing Script", cursive;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.2rem;
    word-spacing: 0.2rem;
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
}

/* ===home: seccion portafolio=== */
.portafolio {
  &__title {
    padding: 1rem;
    letter-spacing: 0.2rem;
    font-size: 2rem;
  }

  &__paragrafo {
    font-family: "Gothic A1", sans-serif;
    font-weight: 300;
    padding: 1rem;
    text-align: justify;
    font-size: 1.6rem;
  }

  &__name {
    font-family: "Dancing Script", cursive;
    text-align: center;
    font-size: 1.6rem;
  }
}

/* ===home: seccion layout=== */
.layouts {
  &__title {
    font-size: 4.4rem;
  }

  &__paragrafo {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
}

/* ===home: seccion opinion=== */
.opinion {
  &__title {
    font-size: 4rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  &__caption {
    font-size: 1.6rem;
    text-align: center;
  }

  &__mensaje {
    padding: 3rem;
    width: 100%;
    margin: 0 auto;
    background: $color-blanco;
    border: 0.1rem solid $color-negro;
    border-radius: 1rem;
  }

  &__paragrafo {
    padding-top: 1rem;
    font-size: 1.1rem;
  }
}

/* ===home: seccion noticias=== */
.noticias {
  &__titulo {
    font-size: 3.5rem;
    margin-bottom: 3rem;
    text-align: center;
  }

  &__subtitulo {
    padding-bottom: 1.5rem;
    font-family: "Gothic A1", sans-serif;
    font-weight: 700;
    color: $color-noticias-text;
    font-size: 1.8rem;

    &::after {
      content: " ";
      display: block;
      width: 100%;
      height: 0.1rem;
      background: $color-negro;
    }
  }

  &__paragraf {
    text-align: left;
    font-size: 1.4rem;
    font-family: "Gothic A1", sans-serif;
  }

  &__tituloNoticia {
    color: $color-noticias-text;
    font-family: "Gothic A1", sans-serif;
    font-size: 1.6rem;

    &::after {
      content: " ";
      display: block;
      width: 100%;
      height: 0.1rem;
      background: $color-negro;
    }
  }
}

/* ------------------------------------------ */
/* ----tipografia de la pagina producto----- */
/* ---------------------------------------- */

/* ===producto: seccion product=== */
.product {
  &__texts {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__ventas {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
  }
}

.fa-sack-dollar {
  font-size: 1.4rem;
  margin-right: 1rem;
}

.precio {
  font-size: 2.3rem;
}

.juego {
  font-size: 1.8rem;
}

.moneda {
  font-size: 1.8rem;
}

.text {
  font-size: 1rem;
}

/* ------------------------------------------ */
/* ----tipografia de la pagina servicios----- */
/* ---------------------------------------- */

/* ===servicio: seccion services=== */
.services {
  &__texts {
    display: flex;
    flex-direction: column;
  }

  &__title {
    color: #ff2768;
    text-align: center;
    font-size: 2.2rem;
    font-family: "Poppins", sans-serif;
    padding: 1rem;
    padding-top: 0px;
  }

  &__subtitle {
    font-size: 2rem;
    font-family: "Poppins", sans-serif;

    color: #05e0e9;
  }

  &__paragrafo {
    font-size: 1.5rem;
    font-family: "Gothic A1", sans-serif;
    text-align: justify;
    padding-right: 16px;
  }
}

/* ===servicio: services -> noticias=== */
.servinoti {
  &__span {
    line-height: 2rem;
    background-color: #e0ff4f;
    position: absolute;
    left: -2px;
    bottom: -2px;
    border-radius: 0 10px 0 0;
    font-size: 1rem;
    color: #000;
    font-weight: 700;
    padding: 0 8px;
  }

  &__top {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 3rem;
    letter-spacing: -1px;
  }

  &__title {
    font-size: 1.2rem;
    font-family: "Gothic A1", sans-serif;
    font-weight: 700;
    max-height: 4.5rem;
    overflow: hidden;
    margin-bottom: 1rem;
  }
}

/* ===servicio: seccion clientes=== */
.nuestros {
  &__title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  &__subtitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 0.1rem;
    font-weight: 700;
    font-size: 2.9rem;
    text-align: center;
    color: #fbf5f3;
  }

  &__texts {
    padding-left: 1rem;
  }

  &__mintitle {
    font-size: 2.2rem;
  }

  &__paragrafo {
    font-size: 1.5rem;
    text-align: justify;
    padding-right: 1rem;
  }
}
